@import url('https://fonts.googleapis.com/css2?family=Anek+Malayalam:wght@500&family=Kanit:ital@1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anek+Malayalam:wght@500&family=Finlandica:ital,wght@1,500&family=Kanit:ital@1&display=swap');

.Name{
    font-size: 1.5rem;
    font-family: 'Anek Malayalam', sans-serif;
    color: rgb(255, 255, 255);
  
}

.nav{
    background-color: #111827;
}
.navbar{
    position: fixed;
    top: 0px;
    width: 100%;
    background-color: black;
}
.button{
    text-align: left;
}
.title{
    font-size: 18px;
    
}
.logo{
    width: 3.2rem;
    height: 2rem;
    margin-left: 10px;
    margin-right: 0%;
    
}
.name{
    display: flex;
}
.Heading{
    color: rgb(255, 255, 255);
    font-size: 2.2rem;
    margin-bottom: 1vw;
    font-family: 'Finlandica', sans-serif;
}
.button2{
    background-color: black;
    color: white;
    text-align: center;
    padding: 2px;
    border-radius: 3px;
}
    
    

